---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Filipi Rafael is a Full-Stack Engineer with experiences building SaaS and enterprise level products. He is actively writing on{' '}
			<a href='https://www.linkedin.com/in/filipi-rafael-developer/' target='_blank' class='underline'>LinkedIn</a>
		</p>
		<p>
			He will be happy to work and collaborate in any project as a Full-Stack engineer. His main stacks are React, React Native and nodejs.
		</p>
	</div>
</div>
