---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpeg';
import Prose from '../components/Prose.astro';
---

<BaseLayout title='About Me' description='Lorem ipsum dolor sit amet'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<h1 class='text-4xl font-bold mb-4'>Hi There 👋, Filipi Here!</h1>
						<Prose>
							<div class='text-lg'>
								<p>
									I am a Full-Stack Engineer from Brazil. I love sharing what i know on <a
										href='https://www.linkedin.com/in/filipi-rafael-developer/'
										target='_blank'>LinkedIn</a
									>. I'm also active on <a href='https://www.threads.net/@filipirafaeldev' target='_blank'>Threads</a> and <a
										href='https://www.instagram.com/filipirafaeldev/'
										target='_blank'>instagram</a
									>.
								</p>
							</div>
						</Prose>
					</div>
					<Image src={Ava} alt='Filipi Rafael' width={300} class='rounded-3xl rotate-3 mx-4 md:mx-0' />
				</div>
				<div>
					<p>
						I'm Filipi, a passionate Full-Stack Engineer dedicated to solving problems and creating impactful products. I thrive on helping
						my team become more effective and mentoring less experienced developers to grow and learn.
					</p>

					<p>
						Currently, I'm working at Purp, where I'm innovating social apps that transform how people connect and build relationships.
						Previously, at BuiltGrid, I had the privilege of developing groundbreaking solutions that revolutionize the construction market
						in Australia.
					</p>

					<p>
						With expertise in JavaScript and TypeScript, I build web and mobile applications using React and React Native. I strive to
						create beautiful, user-friendly interfaces that offer real solutions. Additionally, I excel in developing RESTful APIs using
						NodeJS, Prisma, and various NoSQL and SQL databases.
					</p>

					<p>
						I love challenging myself with side projects, some of which you can find on my website (filipirafael.com). I also share my
						knowledge and insights through articles on my Medium profile (https://medium.com/@filipirafael.123).
					</p>

					<p>
						Driven by continuous growth, I study English daily with native teachers to enhance my communication skills. Having gained
						international experience as a front-end developer, I'm eager to explore opportunities that allow me to make a global impact.
					</p>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
